* {
    box-sizing: border-box;
}
body {
    margin: 0;  
}

body, canvas {
    background-color: black;
    max-width: 100%;
    height: auto;
    font-family: 'Hind', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: aliceblue;
}
p {
    font-size: 30px;
}
i {
    font-size: 60px;
}

/* logo full hd */
.logo {
    width: 200px;
    margin: 12px 0 0 0;
}

/* contenedores principales */
.container {
    position: fixed;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* adentro de los contenedores */
.container-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 200px;
}
.nav {
    margin: 30px;
    display: flex;
    justify-content: center;
}
.nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
/* efectos */
.logo:hover{
    transform: scale(1.4);
    transition-duration: 2s;
}
.logo:not(:hover) {
    transform: scale(1);
    transition-duration: 2s;
}

.nav a:hover {
    color: brown;
    transform: scale(1.4);
    transition-duration: 1s;
}
.nav a:not(:hover) {
    transform: scale(1);
    transition-duration: 0.7s;
}

/* resoluciones */
@media screen and (max-width: 800px) {
    p {
        font-size: 25px;
    }
    i {
        font-size: 55px;
    }
    .container-grid {
        grid-template-columns: 300px 300px;
        grid-template-rows: 100px;
    }
}
@media screen and (max-width: 600px) {
    .logo {
        width: 150px;
    }
    p {
        font-size: 20px;
        font-weight: bold;
    }
    i {
        font-size: 50px;
        font-weight: bold;
    }
    .container-grid {
        grid-template-columns: 200px 200px;
        grid-template-rows: 100px 100px 100px;
    }
}